

img {
          
          border: 1px solid rgb(13, 12, 13);
       
}

h1 , footer{

          color: yellow;

          background-color: rgba(209, 22, 150, 0.591);




}


h2 ,p {
          font-family: Arial, Helvetica, sans-serif ,'Times New Roman', Times, serif ,Verdana, Geneva, Tahoma, sans-serif
}

a{
          text-decoration: none;
}

p:first-letter {
          
          font-size: 25px;
          line-height: 1;
          font-weight: bold;
          margin-right: 3px;
      }


     section,h5{

          margin-top: 0em;
          margin-left: 0.5;
      }

      ul{

          margin-top: -1.4em;
      }

      h5{
          color: yellow;
      }

