

img {
          
          border: 1px solid rgb(13, 12, 13);
       
}

h1 , footer{

          color: yellow;

          background-color: rgba(209, 22, 150, 0.591);




}


h2 ,p {
          font-family: Arial, Helvetica, sans-serif ,'Times New Roman', Times, serif ,Verdana, Geneva, Tahoma, sans-serif
}

a{
          
          text-decoration: none;

          
}
a :hover{
          color: rgb(81, 0, 255);
}

p:first-letter {
          
          font-size: 25px;
          line-height: 1;
          font-weight: bold;
          margin-right: 3px;
          color: #9c0;
    font-family: "Times New Roman", Times, serif;
    text-shadow: #690 .05em .05em;
}
      }

      h5{
          color: yellow;
      }

      ol{
          display: flex;
          flex-direction: column-reverse;
      }

      li{
          flex: 0 0 auto;
      }


dt{

          color: yellow;
}